/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
  max-width: 100%;
}
p {
  font-size: 1em;
}
.site-header {
  padding: 1.25em 0;
}
.container {
  max-width: 75em;
  margin: 0 auto;
}
.bar {
  background-color: #20d0f7;
  overflow: hidden;
}
.main-nav {
  padding: 1.25em 0;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.main-content {
  margin-top: 2.5em;
  padding: 0;
}
/* Media query */
@media (min-width: 768px) {
  .main-content {
    width: 70%;
    float: left;
    padding: 0 3.75em 0 0;
  }
  .sidebar {
    width: 30%;
    float: right;
    padding: 0;
    margin-top: 2.5em;
  }
}
/* Acceder a los hijos de un elemento HTML */
.main-nav a:hover {
  background-color: #00b8e4;
}
.main-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.375em;
  padding: 1.25em;
  text-align: center;
  display: block;
}
@media (min-width: 768px) {
  .main-nav a {
    display: inline;
  }
}
