/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 img{
  max-width: 100%;
}
p {
  font-size: 1em;
}
.bar {
  background-color: #000000;
  overflow: hidden;
}
.main-nav {
  margin-top: 0em;
  padding: 1.25em 0;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.main-content {
  margin-top: 2.5em;
  padding: 0;
}
.entry img:hover{
  transition: all 0.5s ease;
  transform: scale(0.9);
  max-width: 250px;
}
/* Media query */
@media (min-width: 768px) {
  .main-content {
    width: 100%;
    float: left;
    padding: 0 3.75em 0 0;
  }
  .sidebar {
    width: 30%;
    float: right;
    padding: 0;
    margin-top: 2.5em;
  }
}
/* Acceder a los hijos de un elemento HTML */
.main-nav a:hover {
  background-color: #f72020;
}
.main-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.375em;
  padding: 1.25em;
  text-align: center;
  display: block;

}
@media (min-width: 768px) {
  .main-nav a {
    display: inline;
  }
}
/* Entradas del blog */
h2 {
  color: #fc04d2;
  margin-bottom: 1.25em;
}
h3{
  color: #ff0000;
}
.entry {
  margin-bottom: 3.75em;
}
.entry:last-of-type {
  margin-bottom: 0;
}
.entry img {
  display: block;
}
/* Colocar la imagen a la izquierda */
@media (min-width: 768px) {
  .entry img {
    width: 18.75em;
    float: left;
    margin: 0 1.25em 0 0;
  }
}
/* Footer */
.footer-site {
  margin-top: 3.75em;
  padding-top: 2.5em;
  text-align: center;
}
.footer-site h2 {
  color: #000000;
}
.footer-site a {
  color: #000000;
  text-decoration: none;
  font-size: 1.25em;
  margin-right: 1.25em;
}
.footer-site a:last-of-type {
  margin-right: 0;
}
.footer-site p {
  color: #000000;
}
@media (min-width: 768px) {
  .footer-site .about-us {
    float: left;
    width: 35%;
    text-align: left;
  }
  .footer-site .footer-menu {
    float: right;
    width: 65%;
    text-align: right;
  }
}
.copyright {  
  background-color: #b10474;
  padding: 1.25em 0;
}
.copyright p {
  color: #ffffff;
}